# Copyright (c) 2022 Robert Bosch GmbH and Microsoft Corporation
#
# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# SPDX-License-Identifier: Apache-2.0

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^deploy/VehicleApp/helm/templates/|^deploy/runtime/k3d/helm/templates/|^deploy/runtime/k3d/volume/
      - id: check-toml
      - id: check-added-large-files
        exclude: >
          (?x)^(
          .*.log
          )$
      - id: check-merge-conflict

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        exclude: >
          (?x)^(
              .*_pb2.py|
              .*_pb2.pyi|
              .*_pb2_grpc.py
          )$
        additional_dependencies:
          - flake8-bugbear
          - flake8-builtins
          - flake8-unused-arguments

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        args: ["-rn", "-sn", "--rcfile=.pylintrc"]
        types_or: [python]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: ["--skip=B101"]
        types_or: [python]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.982"
    hooks:
      - id: mypy
        args: [app]
        language: system
        pass_filenames: false

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle

  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.17
    hooks:
      - id: helmlint

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.3.1
    hooks:
      - id: insert-license
        files: '.*\.(py|pyi|yaml|yml|sh|helmignore|dockerignore|gitignore)$'
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - "#"
      - id: insert-license
        files: '.*\.(proto)$'
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - //
      - id: insert-license
        files: "Dockerfile.*"
        args:
          - --license-filepath
          - license_header.txt
          - --comment-style
          - "#"
